.App {
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  background-color: rgb(38, 41, 38);
  display: flex;
  font-size: xx-large;


  color: white;
}

#title {
  text-decoration: none;
  color: white;
  padding: 20px;

  font-weight: 900;
}

a {
  text-decoration: none;
}